html, body {
    height: 100%;
    font-family: sans-serif;
    background-image: url("background.jpg");

}


#name {
    font-size: 95px;
    color: black;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    letter-spacing: 0.4rem;
    
}
#bio {
    font-size: 20px;
    color: black;
    margin: 0px;
    margin-bottom: 40px;
    color: white;
    letter-spacing: 0.04rem;
    
}

#nameBioLink {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    margin-top: 220px;
}

#container {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
}

.social-icon {
    color: white;
    transition: 0.1s;
    text-decoration: none;
    margin: 0 30px;
    font-size: 30px;
    
}

    .social-icon:hover{
        color:aqua;
    }
